---
import Icon from './Icon.svelte';
import Section from './Section.astro';
---
<Section>
	<footer class="flex items-center justify-start">
		<div class="flex items-center justify-start gap-2 text-gray-300 border-gray-600 border-t py-5 pr-5">
			<span>Crafted with</span>
			<span title="love" class="relative -top-px"><Icon icon="heart" /></span>
			<span>in Bermuda</span>
		</div>
	</footer>
</Section>