---
import Section from "./Section.astro";
import Icon from "$part/Icon.svelte";
import { config } from "$util/config";
---
<Section>
  <div class="flex items-center p-4 -m-4 group-[.has-hero]:bg-zinc-900/90">
    <h1 class=""><a class="flex items-center gap-2 text-emerald-500" href="/"><Icon icon="logo" size="1.5rem"/><span class="text-xl">{config.title}</span></a></h1>
    <nav class="flex-grow text-right">

    </nav>
  </div>
</Section>