---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---
{tags && tags.length && <ul class="flex flex-wrap gap-2">
  {tags.map(tag => <li class="inline-flex items-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-xs font-medium text-emerald-800">{tag}</li>)} 
</ul>}