---
import Base from "$layout/Base.astro";
import Section from "$part/Section.astro";
import Date from '$part/Date.astro';
import { getCollection } from "astro:content";

const posts = (await getCollection('blog', ({ data }) => {
  return data.draft !== true;
})).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<Base head={{title: 'Blog', description: 'A list of posts on TTRPG.tools' }}>
	<Section>
    <h2 class="text-3xl font-serif font-bold mb-4">Posts</h2>
    <div class="flex flex-col gap-4 w-full">
      {posts.map(post => (
        <div class="bg-zinc-800 rounded-md p-2">
          <a class="text-blue-300 hover:underline block" transition:name={`post-title-${post.slug}`} href={`/post/${post.slug}/`}>{post.data.title}</a>
          <span class="text-zinc-400">// <Date date={post.data.date} /></span>
        </div>
      ))}
    </div>
	</Section>
</Base>
