@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-*: initial;
    --font-sans: Recursive, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: JetBrains Mono, monospace;

    --color-discord: #5865f2;
    --color-patreon: #f1465a;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    .wikilink {
        color: var(--color-blue-300);
        text-decoration: var(--color-emerald-500) underline;
        position: relative;
        transition: color 0.2s;
        padding-right: 1.5rem;
    }

    .wikilink::after {
        content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20fill%3D%22%2310b981%22%20d%3D%22M415.9%20274.5C428.1%20271.2%20440.9%20277%20446.4%20288.3L465%20325.9C475.3%20327.3%20485.4%20330.1%20494.9%20334L529.9%20310.7C540.4%20303.7%20554.3%20305.1%20563.2%20314L582.4%20333.2C591.3%20342.1%20592.7%20356.1%20585.7%20366.5L562.4%20401.4C564.3%20406.1%20566%20411%20567.4%20416.1C568.8%20421.2%20569.7%20426.2%20570.4%20431.3L608.1%20449.9C619.4%20455.5%20625.2%20468.3%20621.9%20480.4L614.9%20506.6C611.6%20518.7%20600.3%20526.9%20587.7%20526.1L545.7%20523.4C539.4%20531.5%20532.1%20539%20523.8%20545.4L526.5%20587.3C527.3%20599.9%20519.1%20611.3%20507%20614.5L480.8%20621.5C468.6%20624.8%20455.9%20619%20450.3%20607.7L431.7%20570.1C421.4%20568.7%20411.3%20565.9%20401.8%20562L366.8%20585.3C356.3%20592.3%20342.4%20590.9%20333.5%20582L314.3%20562.8C305.4%20553.9%20304%20540%20311%20529.5L334.3%20494.5C332.4%20489.8%20330.7%20484.9%20329.3%20479.8C327.9%20474.7%20327%20469.6%20326.3%20464.6L288.6%20446C277.3%20440.4%20271.6%20427.6%20274.8%20415.5L281.8%20389.3C285.1%20377.2%20296.4%20369%20309%20369.8L350.9%20372.5C357.2%20364.4%20364.5%20356.9%20372.8%20350.5L370.1%20308.7C369.3%20296.1%20377.5%20284.7%20389.6%20281.5L415.8%20274.5zM448.4%20404C424.1%20404%20404.4%20423.7%20404.5%20448.1C404.5%20472.4%20424.2%20492%20448.5%20492C472.8%20492%20492.5%20472.3%20492.5%20448C492.4%20423.6%20472.7%20404%20448.4%20404zM224.9%2018.5L251.1%2025.5C263.2%2028.8%20271.4%2040.2%20270.6%2052.7L267.9%2094.5C276.2%20100.9%20283.5%20108.3%20289.8%20116.5L331.8%20113.8C344.3%20113%20355.7%20121.2%20359%20133.3L366%20159.5C369.2%20171.6%20363.5%20184.4%20352.2%20190L314.5%20208.6C313.8%20213.7%20312.8%20218.8%20311.5%20223.8C310.2%20228.8%20308.4%20233.8%20306.5%20238.5L329.8%20273.5C336.8%20284%20335.4%20297.9%20326.5%20306.8L307.3%20326C298.4%20334.9%20284.5%20336.3%20274%20329.3L239%20306C229.5%20309.9%20219.4%20312.7%20209.1%20314.1L190.5%20351.7C184.9%20363%20172.1%20368.7%20160%20365.5L133.8%20358.5C121.6%20355.2%20113.5%20343.8%20114.3%20331.3L117%20289.4C108.7%20283%20101.4%20275.6%2095.1%20267.4L53.1%20270.1C40.6%20270.9%2029.2%20262.7%2025.9%20250.6L18.9%20224.4C15.7%20212.3%2021.4%20199.5%2032.7%20193.9L70.4%20175.3C71.1%20170.2%2072.1%20165.2%2073.4%20160.1C74.8%20155%2076.4%20150.1%2078.4%20145.4L55.1%20110.5C48.1%20100%2049.5%2086.1%2058.4%2077.2L77.6%2058C86.5%2049.1%20100.4%2047.7%20110.9%2054.7L145.9%2078C155.4%2074.1%20165.5%2071.3%20175.8%2069.9L194.4%2032.3C200%2021%20212.7%2015.3%20224.9%2018.5zM192.4%20148C168.1%20148%20148.4%20167.7%20148.4%20192C148.4%20216.3%20168.1%20236%20192.4%20236C216.7%20236%20236.4%20216.3%20236.4%20192C236.4%20167.7%20216.7%20148%20192.4%20148z%22%2F%3E%3C%2Fsvg%3E");
        height: 1.25rem;
        top: 0.125rem;
        width: 1.25rem;
        margin-left: 0.25rem;
        position: absolute;
    }

    .wikilink:hover {
        color: var(--color-blue-400);
    }

    .wikilink-new {
        color: #fb923c;
        cursor: pointer;
        border-bottom: 1px dashed currentColor;
    }

    .wikilink-new:hover {
        color: #fdba74;
    }

    .wikilink-new::after {
        content: "✨";
        margin-left: 0.25rem;
        font-size: 0.75rem;
        opacity: 0.7;
    }
}
